/*:root  > * {
  --md-primary-fg-color:        #639;
  --md-primary-fg-color--light: #639;
  --md-primary-fg-color--dark:  #639;
}*/

@media only screen and (min-width: 76.25em) {
  .md-main__inner {
    max-width: none;
  }
  .md-sidebar--primary {
    left: 0;
  }
  .md-sidebar--secondary {
    right: 0;
    margin-left: 0;
    -webkit-transform: none;
    transform: none;   
  }
}

img {
  max-height: 800px;
}

code {
  word-wrap: break-word;
}

strong { 
  background-color: #08101c;
  color: #e5ae39;
  padding-right: 1px;
  padding-left: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  border: 2px solid #08101c;
  border-radius: 5px;
}

